.board{
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
    border: var(--board-border);
}

.cell{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    width: 70px;
    height: 70px;
}

.cell img:hover{
    transform: scale(1.1);
}

.cell-black{
    background-color: var(--cell-black-color);
   
}

.cell-white{
    background-color: var(--cell-white-color);
}

.cell-selected{
    border: var(--cell-selected-border);
    background-color:var(--cell-selected-color)
}