.board{
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
}

.cell{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    width: 70px;
    height: 70px;
}

.cell img:hover{
    transform: scale(1.1);
}

.cell-black{
    background-color: #779556;
   
}

.cell-white{
    background-color: #EBECD0;
}

.cell-selected{
    border: solid black 2px;
    background-color: #F6F669;
}