*{
  --board-border: solid var(--cell-black-color) 5px;
  --cell-black-color:#00a4af;
  --cell-white-color:#EBECD0;
  --cell-selected-color:#ffff65;
  --cell-selected-border: solid black 2px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
